# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
env/
venv/
ENV/
env.bak/
venv.bak/
.env
.venv
.conda/
conda-env/
.chainlit/
.aws/

# IDE files
.idea/
.vscode/
*.swp
*.swo
.spyderproject
.spyproject
.ropeproject
.project
.pydevproject
.settings/

# Data files
#*.json
*.csv
*.xlsx
*.xls
*.sqlite
*.db
current_directory.txt

# Logs
*.log
logs/
log/
.pytest_cache/
test_terminal_agent/

# Local configuration with sensitive information
config.ini
secrets.json
.env

# OS specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Project specific
*_comparison_*.json
*_comparison_*.csv

# Terraform
*.tfvars.json
*.tfvars.json.gz
*.tfvars.json.gz.part
*.tfvars.json.gz.part.1
*.tfvars.json.gz.part.2
*.tfstate
*.tfstate.backup
*.tfstate.backup.gz
*.tfstate.backup.gz.part
*.tfstate.backup.gz.part.1
*.tfstate.backup.gz.part.2
*.tfstate.gz
*.tfstate.gz.part
.terraform
.terraform/

# Specific files
cursor_reset.py