beautifulsoup4==4.13.3
requests==2.32.3
openai==1.66.5
openai-agents==0.0.7
pydantic==2.10.6
chainlit 
duckduckgo-search
ipykernel
jupyter
conda-env #only install it if you have conda installed first, if don't mute this line
paramiko
pytest 
asyncio
pytest-asyncio
pytest-order
pandas>=2.0.0
numpy>=1.24.0
pathlib>=1.0.1
python-dotenv==1.0.1
#PyQt6>=6.4.0  # For macOS UI
nest-asyncio>=1.5.8  # For handling nested event loops
markdown>=3.5.1  # For markdown rendering
Flask 
Flask[async]
mcp==1.6.0
#mcp-agent
weave
openpyxl>=3.1.2